//
   Created by sushma on 4/6/14.
#wrapper
    #shop
        // PAGE TITLE
        header#page-title
            .container
                h1 Employee
                    strong Absent
                ul.breadcrumb
                    li.active HR
                    li.active Absent Management
                    li.active Employee Absent

        section.container
            form(ng-submit="submit()")
                div.col-lg-12
                    .panel.panel-info.table-bordered
                        .panel-heading
                            | EmpID : {{application.empID}}
                            .pull-right Application Date : {{application.applicationDate}}
                        .panel-body
                            .col-lg-4
                                .form-group.has-warning
                                    label.control-label(for='fromDate') From Date
                                    input#fromDate.form-control(type='date', name='fromDate', ng-model="application.fromDate", value='{{application.fromDate}}', required, autofocus)
                            .col-lg-4
                                .form-group.has-warning
                                    label.control-label(for='toDate') To Date
                                    input#toDate.form-control(type='text', name='toDate', ng-model="application.toDate",value='{{application.toDate}}', required)
                            .col-lg-4
                                .form-group.has-warning
                                    label.control-label(for='leaveType') Absent Type
                                    input#absentType.form-control(type='text', name='absentType', ng-model="application.absentType", value='{{application.absentType}}', required)
                            .col-lg-12(align='center')
                                .form-group.has-success
                                    button.btn.btn-success(ng-click="Action('Approve')") Approve
                                    |&nbsp;|&nbsp;
                                    button.btn.btn-danger(ng-click="Action('Reject')") Reject
                        .panel-footer
                            table#dataTableHrAbsentEmp.table.table-bordered.table-hover.table-striped(ng-table='dataTableHrAbsentEmp', show-filter='true')
                                tr(ng-repeat='app in $data')
                                    td(data-title='"From Date"', sortable='"from"', filter='{ "from": "text" }')
                                        | {{app.from}}
                                    td(data-title='"To Date"', sortable='"to"', filter='{ "to": "text" }')
                                        | {{app.to}}
                                    td(data-title='"Total Days"', sortable='"totalDays"', filter='{ "totalDays": "text" }')
                                        | {{app.totalDays}}
                                    td(data-title='"Absent Type"', sortable='"absentType"', filter='{ "absentType": "text" }')
                                        | {{app.absentType}}
                                    td(data-title='"Status"', sortable='"status"')
                                        | {{app.status}}



