//
   Created by sushma on 4/6/14.
#wrapper
    #shop
        // PAGE TITLE
        header#page-title
            .container
                h1 Employee
                    strong Shift
                ul.breadcrumb
                    li.active HR
                    li.active Shift Management
                    li.active Employee Shift

        section.container
            .row
                div.col-lg-12
                    .panel.panel-info.table-bordered
                        .panel-heading
                            | EmpID : {{EmpID}}
                        .panel-body
                            .col-lg-4
                                .form-group.has-warning
                                    label.control-label(for='fromDate') From Date
                                    input#fromDate.form-control(type='date', name='fromDate', ng-model="application.fromDate",value='{{application.fromDate}}', required, autofocus)
                            .col-lg-4
                                .form-group.has-warning
                                    label.control-label(for='shiftType') Shift Type
                                    select#shiftType.form-control(name='shiftType', ng-model='application.shiftType', ng-options='shiftType.shiftType as shiftType.shiftType for shiftType in shiftTypes', required, ng-change="changeShiftType()")
                            .col-lg-4
                                .form-group.has-warning
                                    label.control-label(for='shiftTimings') Shift Timings
                                    input#shiftTimings.form-control(type='text', name='shiftTimings', ng-model="application.shiftTimings",value='{{application.shiftTimings}}', required, readonly)
                            .col-lg-4
                            .col-lg-4(align='center')
                                .form-group.has-success
                                    button.btn.btn-success(ng-click="Change()") Change
                                    |&nbsp;|&nbsp;
                                    a.btn.btn-danger(ng-href='#/hrAssignShift') Cancel

                        .panel-footer

                            table.table.table-bordered.table-hover.table-striped.tablesorter(ng-table)
                                thead
                                    tr
                                        th From Date
                                        th Shift Type
                                        th Shift Timings
                                tbody(ng-repeat='app in applicationsOfEmployee')
                                    tr
                                        td {{app.from}}
                                        td {{app.shiftType}}
                                        td {{app.shiftTimings}}