//
   Created by sushma on 4/6/14.
#wrapper
    #shop
        // PAGE TITLE
        header#page-title
            .container
                h1 Employee
                    strong Loan
                ul.breadcrumb
                    li.active HR
                    li.active Loan Management
                    li.active Employee Loan

        section.container
            .row
                div.col-lg-12
                    .panel.panel-info.table-bordered
                        .panel-heading
                            | EmpID : {{application.empID}}
                            .pull-right Application Date : {{application.applicationDate}}
                        .panel-body
                            .col-lg-3
                                .form-group.has-warning
                                    label.control-label(for='loanType') Loan Type
                                    input#loanType.form-control(type='text', name='loanType', ng-model='application.loanType', value='{{application.loanType}}', required, autofocus)
                            .col-lg-3
                                .form-group.has-warning
                                    label.control-label(for='amount') Amount
                                    input#amount.form-control(type='text', name='amount', ng-model="application.amount",value='{{application.amount}}', required)
                            .col-lg-3
                                .form-group.has-warning
                                    label.control-label(for='rateOfInterest') Rate Of Interest
                                    input#rateOfInterest.form-control(type='text', name='rateOfInterest', ng-model="application.rateOfInterest",value='{{application.rateOfInterest}}', required, readonly)
                            .col-lg-3
                                .form-group.has-warning
                                    label.control-label(for='duration') Duration
                                    input#duration.form-control(type='text', name='duration', ng-model="application.duration",value='{{application.duration}}', required, readonly)
                            .col-lg-4
                            .col-lg-4
                                .form-group.has-success
                                    button.btn.btn-success(ng-click="Action('Approve')") Approve
                                    |&nbsp;|&nbsp;
                                    button.btn.btn-danger(ng-click="Action('Reject')") Reject
                        .panel-footer
                            table#dataTableHrLoanEmp.table.table-bordered.table-hover.table-striped(ng-table='dataTableHrLoanEmp', show-filter='true')
                                tr(ng-repeat='app in $data')
                                    td(data-title='"Application Date"', sortable='"applicationDate"', filter='{ "applicationDate": "text" }')
                                        | {{app.applicationDate}}
                                    td(data-title='"Loan Type"', sortable='"loanType"', filter='{ "loanType": "text" }')
                                        | {{app.loanType}}
                                    td(data-title='"Amount"', sortable='"amount"', filter='{ "amount": "text" }')
                                        | {{app.amount}}
                                    td(data-title='"Rate Of Interest (%)"', sortable='"rateOfInterest"', filter='{ "rateOfInterest": "text" }')
                                        | {{app.rateOfInterest}}
                                    td(data-title='"Duration (Months)"', sortable='"duration"', filter='{ "duration": "text" }')
                                        | {{app.duration}}
                                    td(data-title='"Status"', sortable='"status"')
                                        | {{app.status}}



