//
   Created by sushma on 4/6/14.
#wrapper
    #shop
        // PAGE TITLE
        header#page-title
            .container
                h1 Employee
                    strong Reimbursement
                ul.breadcrumb
                    li.active Employee
                    li.active Reimbursement Apply
        section.container
            form(ng-submit="submit()")
                div.col-lg-12
                    .panel.panel-info.table-bordered
                        .panel-body
                            .col-lg-12
                                .col-lg-6
                                    .form-group.has-warning
                                        label.control-label(for='reimbursementType') Reimbursement Type
                                        select#reimbursementType.form-control(name='reimbursementType', ng-options='reimbursementType in reimbursementTypes', required, autofocus)
                                .col-lg-6
                                    .form-group.has-warning
                                        label.control-label(for='reimbursementAmount') Reimbursement Amount
                                        input#reimbursementAmount.form-control(type='number', name='reimbursementAmount', ng-model="application.reimbursementAmount", required)
                            .col-lg-12(align='center')
                                .form-group.has-success
                                    button.btn.btn-success(type='submit') Apply
            .col-lg-12
                .panel.panel-info.table-bordered
                    .panel-body
                        table#dataTables-manageReimbursement.table.table-bordered.table-hover.table-striped.tablesorter(ng-table)
                            thead
                                tr
                                    th Reimbursement Type
                                    th Amount
                                    th Status
                            tbody(ng-repeat='app in applications')
                                tr
                                    td {{app.reimbursementType}}
                                    td {{app.amount}}
                                    td {{app.status}}
script.
    $(document).ready(function() {
        $('#dataTables-manageReimbursement').dataTable();
    });