//
	Created by Revathi on 16/4/14.
#wrapper
	#shop
		// PAGE TITLE
		header#page-title
			.container
				h1 Change
					strong Password
				//ul.breadcrumb
					li.active Change Password
		section.container
			.row
				.col-md-3
				.col-md-6
					form.white-row(ng-submit="submit()")
						.alert.alert-danger(ng-show="error")
							i.fa.fa-frown-o
							| Wrong&nbsp;
							strong Password

						.row
							.form-group(ng-class="{'has-error':(password.old.length<5)}")
								.col-md-12
									label Old Password
									input.form-control(ng-model='password.old', name='oldPassword', type='password', value='', placeholder='Previous Password', autofocus, required)
						.row
							.form-group(ng-class="{'has-error':(password.new.length<5)}")
								.col-md-12
									label New Password
									input.form-control(ng-model='password.new', name='newPassword', type='password', value='', placeholder='Old Password', required)
						.row
							.form-group(ng-class="{'has-error':(password.reset.length!=password.new.length)}")
								.col-md-12
									label Retype Password
									input.form-control(ng-model='password.retype', name='retypePassword', type='password', value='', placeholder='Retype Password', required)
							.col-md-6
								input.btn.btn-primary.pull-right(type='submit', value='Sign In', data-loading-text='Loading...')
