//
   Created by Amit on 5/4/14.
header#topNav(style="height: 92px;")
    .container(style="margin-top: 23px;")
        a.logo(style='line-height: 50px; margin-top: 0px;')
            | Personal Information System
            //img(src='/images/logo.jpg', alt='Payroll Management System')
        .navbar-collapse.nav-main-collapse.pull-right.collapse.topFix(style='margin-top: 13px; height: auto;')
            nav.nav-main.mega-menu
span#header_shadow
